.grid {
  width: 1100px;
  height: 600px;
}

.grid1 {
  width: 95%;
  height: 600px;
}


.upstream_grid {
  width: 95%;
  height: 450px;
  font-size: 18px; 
}

.short-grid {
  width: 1100px;
  height: 250px;
}

.admin-grid {
  width: 1100px;
  height: 300px;
}

.show-green {
}

.show-red {
    background-color: #ffb3b3 !important;
}

.regions_grid {
    width: 400px;
    height: 250px;
}

.accordion_padding {
    padding-left: 25px;
}

.btn-margin {
    margin-left: 8px;
    margin-top: 3px;
}

.ui-grid-header-cell-label {
    display:inline-block;
    white-space:initial;
}

.is-active{
      background-color: rgb(28,153,218);
}

input[type=checkbox] {
    transform: scale(1.5);
}